@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Changa One', sans-serif;
    color:#446677;
}

header {
    background-color: red;
}